.card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    border-radius: 3px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.04);
  }

.card-image{
  width: 100%;
  border-radius: 10px;
  max-width: 550px;
}