* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure the body and html take the full viewport height */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Remove default white background */
body {
  background: #000; /* or transparent */
}