:root{
  --color-background: #96A78D;
  --color-title: #B6CEB4;
  --color-text: #D9E9CF;
  --color-component: #133613cb;
  --color-component-hover: rgba(43, 36, 5, 0.8);
  --color-dark: #1a1d0d;
  --color-silver:#C0C0C0;
  --color-antiqueGold:#DAA520;
  --color-offWhite:#F8F8FF;
  --color-copper:#bd3b24;
  --color-creamyBeige:#F5F5DC;
  --color-WroughtIronBlack:#2F4F4F;
  
  --step--2: clamp(0.35rem, calc(0.29rem + 0.29vw), 0.64rem);
  --step--1: clamp(0.42rem, calc(0.34rem + 0.38vw), 0.80rem);
  --step-0: clamp(0.50rem, calc(0.40rem + 0.50vw), 1.00rem);
  --step-1: clamp(0.60rem, calc(0.47rem + 0.65vw), 1.25rem);
  --step-2: clamp(0.72rem, calc(0.55rem + 0.84vw), 1.56rem);
  --step-3: clamp(0.86rem, calc(0.65rem + 1.09vw), 1.95rem);
  --step-4: clamp(1.04rem, calc(0.76rem + 1.40vw), 2.44rem);
  --step-5: clamp(1.24rem, calc(0.88rem + 1.81vw), 3.05rem);
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

